[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-socketio = "*"
eventlet = "*"
flask-login = "*"
flask-debugtoolbar = "*"
flask-wtf = "*"
faker = "*"
flask-moment = "*"
flask-redis = "*"

[requires]
python_version = "3.7"
