<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <style>
        body > .grid {
            height: 100%;
        }
        .column {
            max-width: 450px;
        }
    </style>
</head>
<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui blue image header">
                  <div class="content">
                    Welcome back
                  </div>
            </h2>
            <form method="post" action="{{ url_for('auth.login') }}" class="register ui form attached left aligned fluid segment">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="field">
                {{ form.email.label }}{{ form.email }}
                </div>
                <div class="field">
                {{ form.password.label }}{{ form.password }}
                </div>
                <div class="field">
                {{ form.remember.label }}{{ form.remember }}
                </div>
                {{ form.submit }}
            </form>
            {% for message in get_flashed_messages(with_categories=True) %}
            <div class="ui bottom attached warning message">
                {{ message[1] }}
            </div>
            {% endfor %}
            <div class="ui message">
                Don't have account? <a href="{{ url_for('auth.register') }}">register</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>