{% if leader == user %}
<div id="canvas-tool">
    <div class="ui toggle icon button canvastool-pencil active" id="canvastool-pencil">
        <i class="pencil alternate icon"></i>
        <div class="pencil-menu invisible">
            <div class="range-wrap">
                <input type="range" id="pencil-range" class="slider" min="1" max="30" value="5">
            </div>
            <div id="color-group">
                <ul>
                    <li id="white" class="color-item" style="background-color: white;"></li>
                    <li id="black" class="color-item active" style="background-color: black;"></li>
                    <li id="red" class="color-item" style="background-color: #FF3333;"></li>
                    <li id="blue" class="color-item" style="background-color: #0066FF;"></li>
                    <li id="yellow" class="color-item" style="background-color: #FFFF33;"></li>
                    <li id="green" class="color-item" style="background-color: #33CC66;"></li>
                    <li id="gray" class="color-item" style="background-color: gray;"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ui toggle icon button canvastool-eraser" id="canvastool-eraser">
        <i class="eraser icon"></i>
        <div class="eraser-menu invisible">
            <div class="range-wrap">
                <input type="range" id="eraser-range" class="slider" min="1" max="60" value="30">
            </div>
        </div>
    </div>
</div>
<div id="question" class="ui card">
    <div class="content">
        <div class="header">Topic</div>
        <div class="description"></div>
    </div>
</div>
<div id="reSetCanvas" class="ui icon button canvastool-trash">
    <i class="trash alternate icon"></i>
</div>
{% else %}
<div class="ui icon button toggle canvastool-answer active">
    <i class="keyboard icon"></i>
</div>
<div id="answer" class="ui card">
    <div class="content">
        <div class="header">Answer:</div>
        <div class="description"><i id="checkanswer" class="icon"></i></div>

    </div>
</div>
{% endif %}