{% for user in users %}
{# {% include "chat/_top_bar_status_user.html" %} #}
    {% if users_status %}
    <div class="ui image label user-on-mobile">
        {{ user.nickname }}
        {% if leader == user.nickname %}
            {% if users_status[user.nickname] == "1" %}
            <i class="user secret icon check circle green"></i>
            {% else %}
            <i class="user secret icon"></i>
            {% endif %}

        {% else %}

            {% if users_status[user.nickname] == "1" %}
            <i class="user icon check circle green"></i>
            {% else %}
            <i class="user icon"></i>
            {% endif %}

        {% endif %}
    </div>
    {% else %}
    <div class="ui image label user-on-mobile">
        {{ user.nickname }}
        {% if leader == user.nickname %}
        <i class="user secret icon"></i>
        {% else %}
        <i class="icon"></i>
        {% endif %}
    </div>
    {% endif %}
{% endfor %}



