{% for user in users %}
{# {% include "chat/_top_bar_status_user.html" %} #}

    <div class="ui image label user-on-mobile">
        {{ user.nickname }}
        {% if leader == user.nickname %}
            {% if status and status[user.nickname] == "1" %}
                <i class="user icon check circle green"></i>
            {% else %}
                <i class="user icon"></i>
            {% endif %}
        {% else %}
            {% if status and status[user.nickname] == "1" %}
                <i class="icon check circle green"></i>
            {% else %}
                <i class="icon"></i>
            {% endif %}
        {% endif %}
    </div>
{% endfor %}
