{% extends 'base.html' %}
{% block title %} index {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block main %}

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="active item"  href="{{ url_for('index.index') }}">Home</a>
        <a class="item" href="{{ url_for('index.howToPlay') }}">How to play</a>
        <a class="item" href="{{ url_for('chat.platform') }}">Get started</a>
        <div class="right menu">
            {% if current_user.is_authenticated %}
            <div class="item">
                <div class="ui button dropdown">
                    {{ current_user.nickname }}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="{{ url_for('auth.logout') }}" class="item">Log out</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="item">
                <a href="{{ url_for('auth.login') }}" class="ui button">Log in</a>
            </div>
            <div class="item">
                <a href="{{ url_for('auth.register') }}" class="ui primary button">Sign Up</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Page Contents -->
<div class="pusher">
    <div class="ui vertical masthead center aligned segment landing-image">
        <div class="ui container">
            <div class="ui large secondary inverted menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="header active item" href="{{ url_for('index.index') }}">Home</a>
                <a class="header item" href="{{ url_for('index.howToPlay') }}">How to play</a>
                <a class="header item" href="{{ url_for('chat.platform') }}">Get started</a>
                <div class="right menu">
                    {% if current_user.is_authenticated %}
                    <div class="item">
                        <div class="ui button dropdown">
                            {{ current_user.nickname }}
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a href="{{ url_for('auth.logout') }}" class="item">Log out</a>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="item">
                        <a href="{{ url_for('auth.login') }}" class="ui button">Log in</a>
                    </div>
                    <div class="item">
                        <a href="{{ url_for('auth.register') }}" class="ui primary button">Sign Up</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="ui text container intro">
            <h1 class="ui header inverted">
                Guess What I Draw ?
            </h1>
            <h2 class="ui inverted">Enjoy your drawing and guessing time with your friend.</h2>
            <p>* No Drawing Skill Required</p>
            <a href="{{ url_for('chat.platform') }}" class="ui huge primary button">Get Started <i class="right arrow icon"></i></a>
        </div>
    </div>

    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="right aligned row">
                <div class="left floated column ui card">
                    <div class="ui small rounded image right floated">
                        <img src="{{ url_for('static', filename='images/painter.jpg') }}">
                    </div>
                    <h3 class="margin">Draw whatever you want from a given word.</h3>
                    <h3 class="margin">Wiggle you finger to create a doodle masterpiece!</h3>
                    <p>when you are the painter</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="left aligned row">
                <div class="right floated column ui card">
                    <div class="ui small rounded image left floated">
                        <img src="{{ url_for('static', filename='images/guesser.jpg') }}">
                    </div>
                    <h3 class="margin">Even though you answer incorrect,</h3>
                    <h3 class="margin">it's a good chance to saracasm your friend!</h3>
                    <p>when you are the guesser</p>
                </div>
            </div>
        </div>
    </div>



    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">About</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Report issue</a>
                        <a href="#" class="item">Contact me</a>
                        <a href="#" class="item">FAQ</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">&copy; 2021 Fanco</h4>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">If you like the project</h4>
                    <p>please feel free give me a thumbup.</p>
                    <a href="https://github.com/fancofang/GuessIDraw" class="item">github</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script%}
<script>
    $(document)
        .ready(function () {
            // fix menu when passed
            $('.masthead')
                .visibility({
                    once: false,
                    onBottomPassed: function () {
                        $('.fixed.menu').transition('fade in');
                    },
                    onBottomPassedReverse: function () {
                        $('.fixed.menu').transition('fade out');
                    }
                })
            ;

            $('.ui.dropdown')
                .dropdown();

            // create sidebar and attach to menu open
            $('.ui.sidebar').sidebar('attach events', '.toc.item')
            ;

        })
    ;
</script>
{% endblock %}